#
#  xsvftool-xpcu - An (X)SVF player for the Xilinx Platform Cable USB
#
#  Copyright (C) 2011  RIEGL Research ForschungsGmbH
#  Copyright (C) 2011  Clifford Wolf <clifford@clifford.at>
#  
#  Permission to use, copy, modify, and/or distribute this software for any
#  purpose with or without fee is hereby granted, provided that the above
#  copyright notice and this permission notice appear in all copies.
#  
#  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
#  WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
#  MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
#  ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
#  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
#  ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
#  OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

NET "clk" LOC = "23" | IOSTANDARD = LVCMOS33;

NET "tck"    LOC = "66" | IOSTANDARD = LVCMOS33;
NET "tms"    LOC = "67" | IOSTANDARD = LVCMOS33;
NET "tdi"    LOC = "68" | IOSTANDARD = LVCMOS33;
NET "tdo"    LOC = "27" | IOSTANDARD = LVCMOS33;
NET "init"   LOC = "28" | IOSTANDARD = LVCMOS33;
NET "init_b" LOC = "70" | IOSTANDARD = LVCMOS33;

NET "fd0"  LOC = "32" | IOSTANDARD = LVCMOS33;
NET "fd1"  LOC = "33" | IOSTANDARD = LVCMOS33;
NET "fd2"  LOC = "34" | IOSTANDARD = LVCMOS33;
NET "fd3"  LOC = "35" | IOSTANDARD = LVCMOS33;
NET "fd4"  LOC = "36" | IOSTANDARD = LVCMOS33;
NET "fd5"  LOC = "37" | IOSTANDARD = LVCMOS33;
NET "fd6"  LOC = "39" | IOSTANDARD = LVCMOS33;
NET "fd7"  LOC = "40" | IOSTANDARD = LVCMOS33;

NET "ctl0" LOC = "22" | IOSTANDARD = LVCMOS33;
NET "ctl1" LOC = "53" | IOSTANDARD = LVCMOS33;
NET "ctl2" LOC = "54" | IOSTANDARD = LVCMOS33;

NET "pc0" LOC = "14" | IOSTANDARD = LVCMOS33;
NET "pc1" LOC = "15" | IOSTANDARD = LVCMOS33;
NET "pc2" LOC = "16" | IOSTANDARD = LVCMOS33;
NET "pc3" LOC = "17" | IOSTANDARD = LVCMOS33;
NET "pc4" LOC = "18" | IOSTANDARD = LVCMOS33;
NET "pc5" LOC = "19" | IOSTANDARD = LVCMOS33;
NET "pc6" LOC = "29" | IOSTANDARD = LVCMOS33;
NET "pc7" LOC = "30" | IOSTANDARD = LVCMOS33;

NET "pd0" LOC = "41" | IOSTANDARD = LVCMOS33;
NET "pd1" LOC = "42" | IOSTANDARD = LVCMOS33;
NET "pd2" LOC = "43" | IOSTANDARD = LVCMOS33;
NET "pd3" LOC = "44" | IOSTANDARD = LVCMOS33;
NET "pd4" LOC = "46" | IOSTANDARD = LVCMOS33;
NET "pd5" LOC = "49" | IOSTANDARD = LVCMOS33;
NET "pd6" LOC = "50" | IOSTANDARD = LVCMOS33;
NET "pd7" LOC = "52" | IOSTANDARD = LVCMOS33;

